html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  aspect-ratio: 1 / 1;
  height: 80vh;
  border: 2px black solid;

  display: flex;
}

.column {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
}

.square {
  border: 1px #adadad solid;

  flex: auto;
}
